@import '../../styles/abstract/variables';

.AuthPage {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow-y: hidden;

  &__Form,
  &__Image {
    width: 50%;
  }

  &__Image {
    position: relative;
    &::after {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: #101828;
      opacity: 0.6;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__Form {
    &__Content {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
      margin: auto;
      width: 410px;
      // width: 80%;

      form {
        width: 360px;
      }

      &__Titles {
        margin-bottom: 2rem;
      }

      &__MainTitle {
        font-weight: 600;
        font-size: 30px;
      }
      &__SecondTitle {
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
        color: $color-grey;
      }
    }
  }
}
