$radius-base: 2px;
$radius-md: 4px;
$radius-lg: 6px;
$radius-xl: 8px;

$color-grey: #667085;
$color-grey-900: #344054;
$color-grey-100: #f2f4f7;

$color-blue-100: #e5f0ff;

$color-primary: #006aff;
$color-success: #12b76a;

$color-green-100: #d1fadf;

$font-xl: 500;

$text-base: 14px;
$text-md: 16px;
$text-lg: 18px;
$text-xl: 20px;

$font-normal: 400;
$font-medium: 500;
$font-semibold: 600;
$font-bold: 700;

$font-weight-primary: $font-medium;

$color-white-500: #edeef2;

$sidebar-width-closed: 93px;
