@import '../../styles/index.scss';

.Card {
  // width: 211px;
  width: 180px;
  min-height: 210px;
  border: 1px solid $color-white-500;
  border-radius: 5px;

  overflow: hidden;
  font-weight: 500;
  cursor: pointer;

  &__Img {
    height: 130px;
    background-color: lightcoral;

    img {
      height: 100%;
      width: 100%;
      object-fit: fill;
      // object-fit: cover;
    }
  }

  &__Icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 130px;
    border-bottom: 1px solid $color-white-500;

    i {
      font-size: 60px;
      color: $color-primary;
      opacity: 0.5;
    }
  }

  &__TextWrapper {
    padding: 11px 17px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
  }

  &__Text {
    // padding: 20px 0;
    width: 100%;
    text-align: center;
  }

  &__Price {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    gap: 2px;

    &__clr {
      color: $color-primary;
      padding: 0 2px;
    }
  }
}