@import '../../../styles/index.scss';

.CartSidebar {
  background-color: #fff;
  width: 400px;
  font-weight: $font-weight-primary;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  &__Header,
  &__Items {
    // padding-left: 20px;
    // padding-right: 20px;
  }

  &__Items {
    width: 100%;
    margin-bottom: auto;
    overflow-y: scroll;
  }
}

.center {
  margin: auto !important;
}
