@import '../../styles/index';

.SearchBar {
  height: 92px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-grey-100 !important;
  padding: 0 38px;

  // &__Icon {
  //   padding: 0 5px;
  // }

  // &__Input {
  //   // background-color: $color-grey-100 !important;
  //   border: none !important;
  //   padding: 10px;

  //   span[class="ant-input-wrapper ant-input-group"] {
  //     height: 45px;

  //     input {
  //       height: 100%;
  //       background-color: $color-grey-100 !important;
  //       box-shadow: none !important;
  //     }

  //     button {
  //       height: 100%;
  //       width: 100px;
  //       background-color: $color-grey-100 !important;
  //       border-color: #d9d9d9;

  //     }
  //   }

  // }

  .ant-input-group {}
}