.ReceiptDetails {
  &__Link {
    font-size: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
  }

  &__ContentWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 60px 600px;

    &__Titles {
      grid-column: 1/2;
      grid-row: 1/2;
    }

    &__OrderDetails {
      grid-column: 1/2;
    }

    &__CartItems {
      grid-column: 2/3;

      &__Items {
        height: 100%;
      }
    }
  }
}
