.SavedOrders {
  &__Title {
    margin-bottom: 10px;
  }

  &__NoItems {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: max-content;
    margin-right: auto;
    gap: 10px;
    margin-top: 20px;
    p {
      font-size: 18px;
    }
  }

  &__Modal {
    &__Title {
      font-weight: 600;
      font-size: 18px;
    }

    &__Label {
      color: #667085;
      margin-bottom: 32px;
    }
    &__Actions {
      display: flex;
      gap: 15px;
    }
  }
}
